.main-layout {
  color: #000080;
  background: #ffffff;

}
ul:link {
    color: #800080;
}

ul:visited {
    color: #ff0000;
}

.centering {
  text-align: center;


}

.tableofcontents {
    font-size: 110%;


}


.columns {-webkit-columns: 300px 2;
   -moz-columns: 300px 2;
        columns: 300px 2;
}

.t-xxs{
  font-size: 20%
}
.t-xs{
  font-size: 35%
}

.t-small{
  font-size: 45%
}

.t-med{
  font-size: 65%
}

.t-large{
  font-size: 100%
}

.t-xl{
  font-size: 110%
}

.t-xxl{
  font-size: 220%
}

.hline { width:100%; height:2px; color: #000000 }